In [31]:
# Import Dependencies
import pandas as pd

In [32]:
# Read Yelp's Business JSON dataset using Pandas
yelp_business_data_path = "assets/data/yelp_academic_dataset_business.json"
yelp_business_data = pd.read_json(yelp_business_data_path, lines=True)

In [33]:
# Verify business data
print(yelp_business_data.shape)
yelp_business_data.head()

(209393, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [34]:
# Verify number of businesses in the dataset that are identified as open ("1") and closed ("0") for business
yelp_business_data.is_open.value_counts()

1    168903
0     40490
Name: is_open, dtype: int64

In [35]:
# Filter out businesses that are closed; save only the ones that are open into a new DataFrame
yelp_business_data_new = yelp_business_data[yelp_business_data['is_open']==1]
# Verify the open businesses
print(yelp_business_data_new.shape)
yelp_business_data_new.head()

(168903, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
5,cKyLV5oWZJ2NudWgqs8VZw,Oasis Auto Center - Gilbert,"1720 W Elliot Rd, Ste 105",Gilbert,AZ,85233,33.350399,-111.827142,4.5,38,1,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Automotive, Oil Change Stations, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [36]:
# Convert/Save the DataFrame of Yelp businessess to a new JSON records file
orientation = "records"
yelp_business_data_new.to_json(f"assets/data/yelp_converted_business_dataset_{orientation}.json", orient=orientation)

In [37]:
# Verify the number of businesses in the dataset by State
yelp_business_data_new.state.value_counts()

AZ     49415
NV     31180
ON     28433
OH     13762
NC     13433
PA     10206
QC      8215
AB      7038
WI      4433
IL      1593
SC      1113
NY        22
CA        21
TX         5
WA         4
AL         3
GA         3
VT         2
UT         2
NE         2
MI         2
CO         2
BC         2
FL         2
OR         1
DOW        1
HI         1
YT         1
VA         1
CT         1
MB         1
HPL        1
DUR        1
MO         1
Name: state, dtype: int64

In [38]:
# Verify the number of businesses in the dataset by City
yelp_business_data_new.city.value_counts().head(10)

Las Vegas     25043
Phoenix       16305
Toronto       14962
Charlotte      8500
Scottsdale     7341
Calgary        6772
Pittsburgh     6107
Mesa           5482
Montr√©al       5367
Henderson      4293
Name: city, dtype: int64

In [39]:
# Filter on businesses that are in Las Vegas
yelp_NV_data = yelp_business_data[yelp_business_data['city']=='Las Vegas']
yelp_NV_data.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
6,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,"6870 S Rainbow Blvd, Ste 117",Las Vegas,NV,89118,36.063977,-115.241463,3.5,81,1,"{'BusinessParking': '{'garage': False, 'street...","Dry Cleaning & Laundry, Local Services, Laundr...","{'Monday': '7:0-19:0', 'Tuesday': '7:0-19:0', ..."
16,uZuh51lXu7tsrC8RAwkg1A,Manolo Blahnik,3131 Las Vegas Blvd,Las Vegas,NV,89109,36.125732,-115.167608,4.5,32,0,"{'BusinessParking': '{'garage': True, 'street'...","Shopping, Shoe Stores, Fashion",None
36,fnZrZlqW1Z8iWgTVDfv_MA,Carl's Jr,9595 W Tropicana Ave,Las Vegas,NV,89147,36.099738,-115.301568,2.5,15,0,"{'Alcohol': 'u'none'', 'WiFi': 'u'no'', 'GoodF...","Mexican, Restaurants, Fast Food",None
42,fhNf_sg-XzZ3e7HEVGuOZg,Meat Chix And Wieners,6530 S Decatur Blvd,Las Vegas,NV,89118,36.071196,-115.207463,3.0,10,0,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Burgers, Restaurants, American (Traditional), ...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
51,5XMKDYmMGSKkCkrYoELxzg,Annette Thomas Hair Colorist Specialist,"101 S Rainbow Blvd, Ste 23, Darby's Hairitage",Las Vegas,NV,89107,36.172534,-115.244762,5.0,7,1,"{'GoodForKids': 'True', 'BusinessParking': '{'...","Hair Stylists, Hair Salons, Beauty & Spas",None

In [40]:
# Read Yelp's Tips JSON dataset using Pandas
yelp_tips_data_path = "assets/data/yelp_academic_dataset_tip.json"
yelp_tips_data = pd.read_json(yelp_tips_data_path, lines=True)

In [41]:
# Verify tips data
print(yelp_tips_data.shape)
yelp_tips_data.head()

(1320761, 5)

,user_id,business_id,text,date,compliment_count
0,hf27xTME3EiCp6NL6VtWZQ,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0
1,uEvusDwoSymbJJ0auR3muQ,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0
2,AY-laIws3S7YXNl_f_D6rQ,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0
3,Ue_7yUlkEbX4AhnYdUfL7g,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0
4,LltbT_fUMqZ-ZJP-vJ84IQ,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0

In [42]:
# Verify user compliment counts in the tips dataset
yelp_tips_data.compliment_count.value_counts()

0     1302089
1       16914
2        1448
3         228
4          50
5          16
6           8
7           3
15          1
12          1
11          1
9           1
8           1
Name: compliment_count, dtype: int64

In [43]:
# Convert/Save the DataFrame of Yelp tips to a new JSON records file
orientation = "records"
yelp_tips_data.to_json(f"assets/data/yelp_converted_tips_dataset_{orientation}.json", orient=orientation)

In [44]:
# Read Yelp's checkin JSON dataset using Pandas
yelp_checkin_data_path = "assets/data/yelp_academic_dataset_checkin.json"
yelp_checkin_data = pd.read_json(yelp_checkin_data_path, lines=True)

In [48]:
# Verify checkin data
print(yelp_checkin_data.shape)
yelp_checkin_data.head()

(175187, 2)

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

In [46]:
# Convert/Save the DataFrame of Yelp checkins to a new JSON records file
orientation = "records"
yelp_checkin_data.to_json(f"assets/data/yelp_converted_checkin_dataset_{orientation}.json", orient=orientation)