In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read Yelp's Business JSON dataset using Pandas
yelp_business_data_path = "static/assets/data/yelp_academic_dataset_business.json"
yelp_business_data = pd.read_json(yelp_business_data_path, lines=True)

In [3]:
# Read Yelp's category CSV dataset using Pandas
yelp_categories_path = "static/assets/data/yelp_categories.csv"
yelp_categories = pd.read_csv(yelp_categories_path)

In [4]:
# Verify business data
print(yelp_business_data.shape)
yelp_business_data.head()

(209393, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [5]:
# Verify number of businesses in the dataset that are identified as open ("1") and closed ("0") for business
yelp_business_data.is_open.value_counts()

1    168903
0     40490
Name: is_open, dtype: int64

In [6]:
# Filter out businesses that are closed; save only the ones that are open into a new DataFrame
yelp_business_data_new = yelp_business_data[yelp_business_data['is_open']==1]
# Verify the open businesses
print(yelp_business_data_new.shape)
yelp_business_data_new.head()

(168903, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
5,cKyLV5oWZJ2NudWgqs8VZw,Oasis Auto Center - Gilbert,"1720 W Elliot Rd, Ste 105",Gilbert,AZ,85233,33.350399,-111.827142,4.5,38,1,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Automotive, Oil Change Stations, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [7]:
# Verify the number of businesses in the dataset by State
yelp_business_data_new.state.value_counts().head()

AZ    49415
NV    31180
ON    28433
OH    13762
NC    13433
Name: state, dtype: int64

In [8]:
# Verify the number of businesses in the dataset by City
yelp_business_data_new.city.value_counts().head()

Las Vegas     25043
Phoenix       16305
Toronto       14962
Charlotte      8500
Scottsdale     7341
Name: city, dtype: int64

In [9]:
# creating filters of bool series from isin() 
filter1 = yelp_business_data_new['categories'].notnull()
filter2 = yelp_business_data_new['state'].isin(['AZ','ON','NV']) 
filter3 = yelp_business_data_new['city'].isin(['Phoenix','Toronto','Las Vegas']) 
# displaying data with both filter applied and mandatory  
yelp_three_data = yelp_business_data_new[filter1 & filter2 & filter3] 
#yelp_three_data.head()

In [10]:
# Export DF to CSV
yelp_three_data.to_csv('city_data.csv')

In [11]:
# Code to export three specific city JSON's off the business data (Toronto, Phoenix, Las Vegas)

## TORONTO
# Read Yelp's category CSV dataset using Pandas for Toronto
yelp_city_path = "static/assets/data/city_data.csv"
yelp_toronto = pd.read_csv(yelp_city_path)
yelp_toronto = yelp_toronto[yelp_toronto['city'] == 'Toronto']
yelp_toronto.head()

# Convert/Save the DataFrame of Yelp Toronto businessess to a new JSON records file
orientation = "records"
yelp_toronto.to_json(f"static/assets/data/yelp_toronto_business_dataset_{orientation}.json", orient=orientation)

## PHOENIX
# Read Yelp's category CSV dataset using Pandas for Phoenix
yelp_city_path = "static/assets/data/city_data.csv"
yelp_phoenix = pd.read_csv(yelp_city_path)
yelp_phoenix = yelp_phoenix[yelp_phoenix['city'] == 'Phoenix']
yelp_phoenix.head()

# Convert/Save the DataFrame of Yelp Toronto businessess to a new JSON records file
orientation = "records"
yelp_phoenix.to_json(f"static/assets/data/yelp_phoenix_business_dataset_{orientation}.json", orient=orientation)

## LAS VEGAS
# Read Yelp's category CSV dataset using Pandas for Las Vegas
yelp_city_path = "static/assets/data/city_data.csv"
yelp_las_vegas = pd.read_csv(yelp_city_path)
yelp_las_vegas = yelp_las_vegas[yelp_las_vegas['city'] == 'Las Vegas']
yelp_las_vegas.head()

# Convert/Save the DataFrame of Yelp Toronto businessess to a new JSON records file
orientation = "records"
yelp_las_vegas.to_json(f"static/assets/data/yelp_las_vegas_business_dataset_{orientation}.json", orient=orientation)

In [12]:
# Create aggregated JSON's for each city's business data set. 

## TORONTO
#Create group by data frame for parent categories and compute business count, total review count, and avg rating by category 
d = {'is_open':'businesses_count', 'review_count':'total_reviews','stars':'average_review'}
yelp_toronto_summary = yelp_toronto.groupby('parent',as_index=False).agg({'is_open':'sum', 'review_count':'sum','stars':'mean'}).rename(columns=d)
yelp_toronto_summary = yelp_toronto_summary.round({"average_review":1}) 
yelp_toronto_summary
# Convert/Save the DataFrame of Yelp Toronto businessess summary to a new JSON records file
orientation = "records"
yelp_toronto_summary.to_json(f"static/assets/data/yelp_toronto_business_summary_{orientation}.json", orient=orientation)

## PHOENIX
#Create group by data frame for parent categories and compute business count, total review count, and avg rating by category 
d = {'is_open':'businesses_count', 'review_count':'total_reviews','stars':'average_review'}
yelp_phoenix_summary = yelp_phoenix.groupby('parent',as_index=False).agg({'is_open':'sum', 'review_count':'sum','stars':'mean'}).rename(columns=d)
yelp_phoenix_summary = yelp_phoenix_summary.round({"average_review":1}) 
yelp_phoenix_summary
# Convert/Save the DataFrame of Yelp Toronto businessess summary to a new JSON records file
orientation = "records"
yelp_phoenix_summary.to_json(f"static/assets/data/yelp_phoenix_business_summary_{orientation}.json", orient=orientation)

## LAS VEGAS
#Create group by data frame for parent categories and compute business count, total review count, and avg rating by category 
d = {'is_open':'businesses_count', 'review_count':'total_reviews','stars':'average_review'}
yelp_las_vegas_summary = yelp_las_vegas.groupby('parent',as_index=False).agg({'is_open':'sum', 'review_count':'sum','stars':'mean'}).rename(columns=d)
yelp_las_vegas_summary = yelp_las_vegas_summary.round({"average_review":1}) 
yelp_las_vegas_summary
# Convert/Save the DataFrame of Yelp Toronto businessess summary to a new JSON records file
orientation = "records"
yelp_las_vegas_summary.to_json(f"static/assets/data/yelp_las_vegas_business_summary_{orientation}.json", orient=orientation)

In [13]:
# Create second aggregated JSON's for each city's business data set. 

## TORONTO
#Create group by data frame for star/rating categories and compute business count and parent category
e = {'is_open':'business_count'}
yelp_toronto_summary2 = yelp_toronto.groupby(['parent'], as_index=False).agg({'is_open':'sum'}).rename(columns=e) 
yelp_toronto_summary2 = yelp_toronto_summary2.sort_values(by='business_count', ascending=False)
yelp_toronto_summary2
# Convert/Save the DataFrame of Yelp Toronto businessess summary to a new JSON records file
orientation = "records"
yelp_toronto_summary2.to_json(f"static/assets/data/yelp_toronto_biz_cat_summary_{orientation}.json", orient=orientation)

## PHOENIX
#Create group by data frame for star/rating categories and compute business count and parent category
e = {'is_open':'business_count'}
yelp_phoenix_summary2 = yelp_phoenix.groupby(['parent'], as_index=False).agg({'is_open':'sum'}).rename(columns=e) 
yelp_phoenix_summary2 = yelp_phoenix_summary2.sort_values(by='business_count', ascending=False)
yelp_phoenix_summary2
# Convert/Save the DataFrame of Yelp Toronto businessess summary to a new JSON records file
orientation = "records"
yelp_phoenix_summary2.to_json(f"static/assets/data/yelp_phoenix_biz_cat_summary_{orientation}.json", orient=orientation)

## LAS VEGAS
#Create group by data frame for star/rating categories and compute business count and parent category
e = {'is_open':'business_count'}
yelp_las_vegas_summary2 = yelp_las_vegas.groupby(['parent'], as_index=False).agg({'is_open':'sum'}).rename(columns=e) 
yelp_las_vegas_summary2 = yelp_las_vegas_summary2.sort_values(by='business_count', ascending=False)
yelp_las_vegas_summary2
# Convert/Save the DataFrame of Yelp Toronto businessess summary to a new JSON records file
orientation = "records"
yelp_las_vegas_summary2.to_json(f"static/assets/data/yelp_las_vegas_biz_cat_summary_{orientation}.json", orient=orientation)

In [14]:
# Read Yelp's Tips JSON dataset using Pandas
yelp_tips_data_path = "static/assets/data/yelp_academic_dataset_tip.json"
yelp_tips_data = pd.read_json(yelp_tips_data_path, lines=True)

In [15]:
# Verify tips data
print(yelp_tips_data.shape)
yelp_tips_data.head()

(1320761, 5)

,user_id,business_id,text,date,compliment_count
0,hf27xTME3EiCp6NL6VtWZQ,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0
1,uEvusDwoSymbJJ0auR3muQ,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0
2,AY-laIws3S7YXNl_f_D6rQ,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0
3,Ue_7yUlkEbX4AhnYdUfL7g,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0
4,LltbT_fUMqZ-ZJP-vJ84IQ,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0

In [16]:
# Verify user compliment counts in the tips dataset
yelp_tips_data.compliment_count.value_counts().head(5)

0    1302089
1      16914
2       1448
3        228
4         50
Name: compliment_count, dtype: int64

In [17]:
# Inner merge of business and tips dataframes for each city

## TORONTO
# Inner merge of business and tips dataframes for Toronto
tips_business_toronto_merge = pd.merge(yelp_toronto, yelp_tips_data, how ='inner', on ='business_id')
#tips_business_toronto_merge.head()

# Dropping unneccessary columns from the merge
tips_business_toronto_merge_min = tips_business_toronto_merge.drop(["name","address","city","state","latitude","longitude","stars","review_count","is_open","attributes","categories","hours"], axis=1)
#tips_business_toronto_merge_min.head()

# Convert/Save the DataFrame of Yelp tips to a new JSON records file
orientation = "records"
tips_business_toronto_merge_min.to_json(f"static/assets/data/yelp_toronto_tips_business_dataset_{orientation}.json", orient=orientation)

## PHOENIX
# Inner merge of business and tips dataframes for phoenix
tips_business_phoenix_merge = pd.merge(yelp_phoenix, yelp_tips_data, how ='inner', on ='business_id')
#tips_business_phoenix_merge.head()

# Dropping unneccessary columns from the merge
tips_business_phoenix_merge_min = tips_business_phoenix_merge.drop(["name","address","city","state","latitude","longitude","stars","review_count","is_open","attributes","categories","hours"], axis=1)
#tips_business_phoenix_merge_min.head()

# Convert/Save the DataFrame of Yelp tips to a new JSON records file
orientation = "records"
tips_business_phoenix_merge_min.to_json(f"static/assets/data/yelp_phoenix_tips_business_dataset_{orientation}.json", orient=orientation)

## LAS VEGAS
# Inner merge of business and tips dataframes for las vegas
tips_business_las_vegas_merge = pd.merge(yelp_las_vegas, yelp_tips_data, how ='inner', on ='business_id')
#tips_business_las_vegas_merge.head()

# Dropping unneccessary columns from the merge
tips_business_las_vegas_merge_min = tips_business_las_vegas_merge.drop(["name","address","city","state","latitude","longitude","stars","review_count","is_open","attributes","categories","hours"], axis=1)
#tips_business_las_vegas_merge_min.head()

# Convert/Save the DataFrame of Yelp tips to a new JSON records file
orientation = "records"
tips_business_las_vegas_merge_min.to_json(f"static/assets/data/yelp_las_vegas_tips_business_dataset_{orientation}.json", orient=orientation)

In [18]:
# Read Yelp's checkin JSON dataset using Pandas
yelp_checkin_data_path = "static/assets/data/yelp_academic_dataset_checkin.json"
yelp_checkin_data = pd.read_json(yelp_checkin_data_path, lines=True)

In [19]:
# Verify checkin data
print(yelp_checkin_data.shape)
yelp_checkin_data.head()

(175187, 2)

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...
2  --7zmmkVg-IMGaXbuVd0SQ  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...
3  --8LPVSo5i0Oo61X01sV9A                                2016-07-08 16:43:30
4  --9QQLMTbFzLJ_oT-ON3Xw  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...

In [20]:
# Merge of business and checkin dataframes for all three cities

## TORONTO
# Merge of business and checkin dataframes for all three cities
checkins_business_toronto_merge = pd.merge(yelp_toronto, yelp_checkin_data, how ='inner', on ='business_id')
checkins_business_toronto_merge.head()

# Convert/Save the DataFrame of Yelp checkins to a new JSON records file
orientation = "records"
checkins_business_toronto_merge.to_json(f"static/assets/data/yelp_toronto_checkin_business_dataset_{orientation}.json", orient=orientation)

## PHOENIX
# Merge of business and checkin dataframes for all three cities
checkins_business_phoenix_merge = pd.merge(yelp_phoenix, yelp_checkin_data, how ='inner', on ='business_id')
checkins_business_phoenix_merge.head()

# Convert/Save the DataFrame of Yelp checkins to a new JSON records file
orientation = "records"
checkins_business_phoenix_merge.to_json(f"static/assets/data/yelp_phoenix_checkin_business_dataset_{orientation}.json", orient=orientation)

## LAS VEGAS
# Merge of business and checkin dataframes for all three cities
checkins_business_las_vegas_merge = pd.merge(yelp_las_vegas, yelp_checkin_data, how ='inner', on ='business_id')
checkins_business_las_vegas_merge.head()

# Convert/Save the DataFrame of Yelp checkins to a new JSON records file
orientation = "records"
checkins_business_las_vegas_merge.to_json(f"static/assets/data/yelp_las_vegas_checkin_business_dataset_{orientation}.json", orient=orientation)